@{
    <link rel="icon" type="image/png" href="~/icon.png" />
    Layout = null;
}

<form action="/Vehiculos/Crear" method="post">
    <table border="1">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Color</th>
                <th>Descripcion</th>
                <th>Marca</th>
                <th>Modelo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="text" required name="Tipo" />
                    @Html.ValidationMessage("Tipo")
                </td>
                <td>
                    <input type="color" required name="Color" />
                    @Html.ValidationMessage("Color")
                </td>
                <td>
                    <input type="text" required name="Descripcion" />
                    @Html.ValidationMessage("Descripcion")
                </td>
                <td>
                    <input type="text" required name="Marca" />
                    @Html.ValidationMessage("Marca")
                </td>
                <td>
                    <input type="text" required name="Modelo" />
                    @Html.ValidationMessage("Modelo")
                </td>
            </tr>
        </tbody>
    </table>
    <button> Guardar Tarjeta </button>
</form>