@{
    <link rel="icon" type="image/png" href="~/icon.png" />
    Layout = null;
}
    <form action="/Vehiculos/Editar" method="post">
        <table border="1">
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Color</th>
                    <th>Descripcion</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="hidden" name="Id" value="@Model.Id" />
                        <input type="text" name="Tipo" value="@Model.Tipo" />
                    </td>
                    <td>
                        <input type="text" name="Color" value="@Model.Color" />
                    </td>
                    <td>
                        <input type="text" name="Descripcion" value="@Model.Descripcion" />
                    </td>
                    <td>
                        <input type="text" name="Marca" value="@Model.Marca" />
                    </td>
                    <td>
                        <input type="text" name="Modelo" value="@Model.Modelo" />
                    </td>
                </tr>
            </tbody>
        </table>
        <button> Guardar Producto Modificado </button>
    </form>